<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWebListener</display-name>
  <welcome-file-list>
    <welcome-file>autologinindex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AutoLoginServlet</servlet-name>
    <servlet-class>com.swk.autologin.AutoLoginServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.swk.autologin.AutoLoginFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>AutoLoginServlet</servlet-name>
    <url-pattern>/AutoLoginServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/autologin.jsp</url-pattern>
  </filter-mapping>
</web-app>